.allContainer{
  width: 100%;
  height: 98px;
  background: #fff;
  border-top: 0.01rem solid #D2D2D2;
  bottom: 0rem;
  position:fixed;
  z-index: 0;
  .item{
    display: inline-block;
    width:33%;
    text-align: center;
    vertical-align: middle;
    line-height: 0.46rem;
    padding-top: 0.1rem;
    .imgitem{
      width: 0.5rem;
      margin-top: 20px;
      //height: 0.44rem;
    }
    .titleitem{
      font-size: 0.2rem;
      margin-top: 10px;
      line-height: 0.35rem;
      color: #9D9D9D;
    }
    .titleitemAct{
      font-size: 0.2rem;
      margin-top: 10px;
      line-height: 0.35rem;
      color: #FD7B25;
    }
  }
  .item2{
    display: inline-block;
    width:25%;
    text-align: center;
    vertical-align: middle;
    line-height: 0.46rem;
    padding-top: 0.1rem;
    .imgitem{
      width: 0.5rem;
      //height: 0.44rem;
    }
    .titleitem{
      font-size: 0.2rem;
      color: #9D9D9D;
      line-height: 0.35rem;
    }
    .titleitemAct{
      font-size: 0.2rem;
      color: #FD7B25;
      line-height: 0.35rem;
    }
  }
}
.allContainer-fix{
  margin-left:-20px;
}
