:global{
  html{
    background: rgba(0,0,0,0);
  }
  body {
    word-wrap: break-word;
    word-break: normal;
    font-size: 0.675rem!important;
    background: #fff;
    color: #333!important;
  }

  .noSelect{
    user-select: none;
  }

  .relative {
    position: relative;
  }

  .full {
    width: 100%;

  }
  a:hover, a:focus {
    text-decoration: none;
  }

  input, button {
    outline: none;
    z-index: 10;
  }
  .am-toast-notice-content .am-toast-text {
    padding: 50px 70px !important;
    border-radius: 15px;
    font-size: 30px;
  }
}



